@media screen and (min-width: 768px) {
  .container {
    width: 689px;
    margin: 0 auto;
  }

  .first-h2 {
    width: 445px;
    height: 64px;
    left: 24px;
    top: 667px;

    font-family: "Livvic";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    /* or 100% */

    color: #ffffff;
    margin-top: 100px;
  }

  .small-boxes {
    display: flex;
  }

  .first-h3 {
    font-size: 18px;
    line-height: 28px;
    text-align: start;
    color: $orange;
    font-weight: 700;
    margin-top: 56px;
    margin-bottom: 16px;
  }

  .first-p {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */

    text-align: start;

    color: #ffffff;

    mix-blend-mode: normal;
    opacity: 0.8;
  }

  .small-imgs {
    display: block;
    margin: 0;
    margin-top: 30px;
  }

  .div-for-text {
    width: 478px;
    margin-left: 23px;
  }

  .first-a {
    border: 2px solid #012f34;
    border-radius: 24px;
    padding: 11px 33px;
    text-decoration: none;
    color: #012f34;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    
    width: 160px;
  }

  .for-first-a {
    margin-right: 10px;
    margin-bottom: -40px;
    // padding-bottom: 140px;
  }

  .div-for-second-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;

    
  }


  .third-h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #012f34;
    width: 400px;
    margin-bottom: 100px;   
  }


  footer {
    background-color: $dark-green;
  }

  .for-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,255px);
    justify-content: space-between;
    height: 271px;
    align-items: center;
  }

  .for-small-flex {
    display: flex;
    gap: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .footer-p {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height, or 167% */

    color: #ffffff;
  }

  .footer-second-p {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-bottom: 40px;
  }

  .footer-first-div{
    margin: 0;
    padding-top: 0px;
  }
 
  .icons{
    margin: 0;
    margin-bottom: 0;
  }

}
