@media screen and (min-width: 1440px) {
  .container {
    width: 1110px;
    margin: 0 auto;
  }

  .for-big-flex {
    display: flex;
    justify-content: space-between;
    padding-bottom: 140px;
  }

  .first-h2 {
    font-size: 48px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    /* or 100% */

    color: #ffffff;
  }

  .second-h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    /* or 100% */

    text-align: center;

    color: #ffffff;
  }

  .div-for-big-grid {
    display: grid;
    grid-template-columns: repeat(3,350px);
    justify-content: space-between;
  }

  .for-grid{
    grid-template-columns: repeat(3,255px);
  }
}
