@import "./colors.scss";
@import "./for-fhone.scss";
@import "./for-tablet.scss";
@import "./for-destkob.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Livvic&family=Poppins:ital@0;1&display=swap');


body{
    font-family: 'Livvic', sans-serif;

}